 @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Shadows+Into+Light&display=swap');
        body{background-color: #bedce4;}
        #leftsidebar{
            width:18%;
            position:absolute;
            top:11%;
            height:81%;
            margin-left:2%;
            float:hidden;
            background-color:#bedce4; 
            border:#6fb3ca 2px solid;
            float:left;}
        #page{
            background-color:#fff9dc;
            width:90%;top:3%;
            height:95%;
            margin-left:5%;
            border:#fef9df solid 4px;}
        #headline{
            width:100%;
            color:#ef7b6c;
            font-size:30px;
            font-family: 'Permanent Marker', cursive;
            text-align: center;
            padding:1% 0px;
            height:4.5%;
            background-color: #ffe89d;}
        #leftsidebartop{
            width:100%;
            height:5%;
            background-color:#6fb3ca;}
        #mainphoto{
            width:65%;
            position:absolute;
            top:11%;
            height:81%;
            background-color:#fccdc7;
            margin-left:22%;
            float:left;}
         #bigphoto{
            width:70%;
            margin-top:5%;
            border:#fef9df solid 10px;
            box-shadow:15px 15px 0px #e38b8b;
            margin-left:15%;}
        #mainphototop{
            width:100%;
            background-color:#f27c6e;
            height:30px;
            float:left;}
        .thumbnail{
            width:65%;
            height:17%;
            margin-top:3%;
            border:2px #fbd765 solid;
            margin-left:17.5%;
            box-shadow:5px 5px 0px #fee69c}
        #caption{
            width:40%;
            position: relative;
            top:5%;
            padding:10px 0px;
            font-family: 'Shadows Into Light', cursive;
            border-radius:20px;
            box-shadow:5px 5px 0px #f27c6e;
            font-size:22px;
            border:#e38b8b solid 2px;
            background-color:#fff9dc;
            margin:auto;
            text-align:center;}