@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,600;1,800&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face{font-family: Aemstel;src: url('Aemstel-LineOutside.otf');}
@font-face{font-family: Montserrat-Light;src: url('Montserrat-Light.ttf')}

    /* Navbar/Menu Styles */
    .navbar {
      z-index: 10;
      display: flex;
      position: fixed;
      height: 60px;
      width: 60px;
      background-color: #2e2c2f;
      right: 2.4%;
      margin: 30px;
      border-radius: 60px;
      box-shadow: 0 10px 20px 2px rgba(0, 0, 0, 0.1);
      align-items: center;
      cursor: pointer;}
    .navbar::before,
    .navbar::after {
      content: "";
      display: block;
      height: 3px;
      width: 24px;
      border-radius: 2px;
      background-color: #ffffff;
      margin-bottom: 8px;
      transition: 0.3s;
    }
    .navbar::before {
      margin-top: 20px;}
    .navbar.open-menu::before {
      transform: rotate(-135deg);
      margin-bottom: -1px;}
    .navbar.open-menu::after {
      transform: rotate(-45deg);
      margin-top: -1px;}
    .menu {
      width: 20vw;
      height: 100vh;
      position: fixed;
        left:80%;
        top:0;
      display: flex;
      align-items: center;
      visibility: hidden;
      background-image:linear-gradient(to right, rgba(33,33,33,0.85), rgba(55,55,55,0.85));
      z-index: 9;
      opacity: 0;
      transition: 0.3s;}
    #display{
         font-family: 'Bebas Neue', cursive;
      font-weight: normal;
      font-size: 1.4em;
      padding: 0;
      margin: 10px 0;
        text-align:left;
        line-height:200%;}
    #display a{color:white; font-size: 1em;}
    .menu.open-menu {
      visibility: visible;
      opacity: 1;}
    .menu-inner {
      max-width: 1440px;
      width: 100%;
        color:white;
        font-family: 'Bebas Neue', cursive;
      margin: 0 auto;
      padding: 60px;}
    .menu-link {
      color: white;
      text-decoration: none;
      border-bottom: 2px solid #2e2c2f;}
    .menu-link:hover {border-bottom: 0;}
    .menu-inner ul,
    .menu-inner li {
      list-style: none;
      padding: 0;
      margin: 20px 0;
      font-size: 24px;}
    .columns {
      flex-direction: column;}
/*front page*/
    body{background-color: #212121}
h1{color:white}
    #frontpage{
        background-image:url(background.jpg);
        height:80%;
        width:97%;
        margin-left:1.5%;
        box-shadow:  41px 41px 82px #0d0d0d, -41px -41px 82px #353535;}
    #overlayBox{
        background-color:black;
        opacity:0.5;
        float:right;
        width:10%;height:100%;}
    #name{
        position:absolute;
        float:left;
        font-size:130px;
        color:white;font-family: Aemstel;
        left:5%;bottom:25%}
   #container{
        border-radius:20px;
        border:white 2px solid;
        left:100px;
       position:absolute;
       left:17.5%;
        width:65%}
    /*fonts*/
    .myworkbox{
        width:80%;
        left:10%;
        position:relative;}
    .workbox{
        width:45%;height:460px;
        float:left;
        margin-top:50px;
        overflow:hidden;
        border-radius:0px;
        background: linear-gradient(315deg, #212121, #373737);
        box-shadow:34px 34px 64px #0d0d0d, -34px -34px 64px #353535;}
    .workbox:hover{
        width:470px;height:470px;
        transition:0.3s;}
    .workcontent{
        color:white;
        font-family: 'Nunito Sans', sans-serif;
        font-size:30px;
        padding:30px;}
    .workbox a{
        color:white;
        font-family: 'Nunito Sans', sans-serif;
        font-weight:100;
        font-size:20px;
        padding:30px;}
    footer{
        height:200px;
        margin-top:50px;
        padding:0 12%;
        font-family: 'Nunito Sans', sans-serif;
        color:white;}
    .footertitle{
        color:white;
        font-family: 'Nunito Sans', sans-serif;
        font-size:30px;}
    .emp{color:#68C5C5; font-style: italic;}
    
        
